.alert{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
.a-primary{
    color: #18369b;
    background-color: #5199c2;
    border: 1px solid #18369b;
}
.a-success{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.a-danger{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.a-warning{
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #fff3cd;
}
.a-dark{
    color: #1b1e21;
    background-color: #d6d8d9;
    border: 1px solid #d6d8d9;
}